*,*::after,*::before{
    margin: 0%;
    padding: 0px;
}
html,body{
    height: 100%;
}
body{
    
    background: Igb(225,152,100);
    background: lineas-gradiant(rgb(252, 73, 73)
    );


}
.container{
display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: aquamarine;
    text-align: center;
    
    
    }
    .cardbody{
        background: wheat;
        padding: 25px;
align-items: center;
border-radius: 10px;



    }
    .cardbody h1{
margin-bottom: 15px;
font-size: 70px;


    }
    .card-btn button{
        
        color: black;
        border-radius: 5px;
        padding: 10px 35px;
        border: 0px;
        font-size: 15px;
        font-weight: bold;
        margin: 0px 5px;
transition: 0.5s;
    }
    button#increment{
        background: rgb(110, 230, 130);
    }
    button#reset{
        background:rgb(173, 173, 21) ;
    }
    button#decrement{
        background: rgb(35, 147, 175);
    }